<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% stylesheets '../app/Resources/public/styles/*' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {{ require_js_initialize({ 'main' : 'main' }) }}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% if app.user %}
            {% include "FrontendBundle:Layout:header.html.twig" %}
        {% endif %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
