<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Pipeline{% endblock %}</title>
        {% stylesheets '../app/Resources/public/styles/*' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {{ require_js_initialize({ 'main' : 'main' }) }}
        <script type="text/javascript">
        	var Global = new Object();
        	Global.settings = new Object();
        	{% if app.debug %}
	        	Global.settings.url = "/app_dev.php/";
        	{% else %}
	        	Global.settings.url = "/";
        	{% endif %}
        	{% block global_variables %}
        	{# MAKE SURE TO CALL parent() WHEN EXTENDING THIS BLOCK OR YOU'LL BREAK A LOT OF SHIT #}
        		{% if app.user %}Global.user = {{ app.user|serialize|raw }};{% endif %}
        	{% endblock %}
        	
        	{% block require %}{% endblock %}
        </script>
        <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans' rel='stylesheet' type='text/css'>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% if app.user %}
            {% include "FrontendBundle:Layout:header.html.twig" %}
        {% endif %}
        {% block body %}{% endblock %}
        
        {% block handlebars %}{% endblock %}
        
        {% block javascripts %}{% endblock %}
    </body>
</html>
