{% extends "::layout.html.twig" %}
{% block body %}
<div class="container body">
    <div id="sidebar" class="columns four">
    	<ul class="side-menu">
    		<li class="selected"><a href="#">All Tasks</a></li>
    		<li><a href="#">Today's Pipeline</a></li>
    		<li><a href="#">Dashboard</a></li>
    		<li><a href="#">'splode</a></li>
    	</ul>
    </div>
    
    <div id="content" class="columns twelve">
        <!-- We call this rapid prototyping -->
    </div>
</div>
{% endblock %}