{% extends "::layout.html.twig" %}
{% block body %}
<div class="container">
    <div id="sidebar" class="columns four">
    
    </div>
    
    <div id="content" class="columns twelve">
        <!-- We call this rapid prototyping -->
    </div>
</div>
{% endblock %}