<div class="header">
    <header class="container">
        <div class="columns four logo-edge">
            <div class="logo">
                #pipeline 
            </div>
        </div>
        <div class="columns twelve navigation-edge">
            <ul>
                <il>
                    @{{ app.user.username }}
                </il>
                <li>
                    Home
                </li>
            </ul>
        </div>
    </header>
</div>